
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetPatient</title>
</head>
<body>
    <div>

        @ViewBag.Message<br />

        @ViewData["msg"]<br />

        @TempData["display"]
    </div>
</body>
</html>
